*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

a{
  text-decoration: none;
  color: black;
}

header{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container{
  padding-top: 20px;
  padding-bottom: 20px;
}

h1{
  margin: 0;
  font-size: 26px;
}

.image{
  display: block;
  margin: auto;
  width: 50%;
  max-width: 300px;
  border-radius: 100%;
  border: 10ox solid #333;
}

.quote{
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.bio{
  margin: 50px 100px;
  text-align: justify;
  font-size: 19px;
}

footer{
  background-color: #333;
  color: #fff;
  padding: 10px;
}